/* import poppins font family and roboto */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Smooch&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom styles */
#title-head {
  font-family: 'Dancing Script', cursive;
  font-family: 'Smooch', cursive;
  font-size: 2rem;
  line-height: 12px;
}

#container {
  position: relative;
}



#overlay {
  position: absolute;
  top:0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 1;
  color: white;
  font-size: 20px;
  padding: 50px;
  text-align: center;
}
